<form class="form-horizontal">
	<div class="col-12 d-flex flex-wrap">
		<div class="col-12 d-flex justify-content-center">
			<p class="">Deseja se inscrever nessa oportunidade?</p>
		</div>
		<div class="col-12">
			<nb-card class="bg-light">
				<nb-card-body class="col-12 d-flex flex-wrap">
					<div class="col-4">
						<img class="img-fluid rounded-circle" src="assets/images/nick.png">
					</div>
					<div class="col-8">
						<strong>João Nascimento</strong>
						<p>							
							<span>Area de Atuação: Lorem Ipsum</span><br>
							<span>Graduação: Lorem Ipsum</span><br>
							<span>Pós Graduação: Lorem Ipsum</span>
						</p>
					</div>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="col-12 form-group">
			<label for="file" class="label">Portaria/Declaração</label>
			<input type="text" nbInput fullWidth id="file" placeholder="Selecione">
		</div>
		<div class="col-12 form-group">
			<label for="instituicao" class="label">Instituição</label>
			<textarea nbInput fullWidth placeholder="Descrição"></textarea>
		</div>
		<div class="col-12 d-flex justify-content-end">
			<button type="submit" nbButton status="primary">Inscrever</button>
		</div>
	</div>
</form>