<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <h1>Meus dados</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Dados Pessoais">
          <form class="form-horizontal">
            <div class="row">
              <div class="col-12">
                <h4>Pessoais</h4>
              </div>
              <div class="col-3 ">
                <div class="hover hover-1 text-white rounded">
                  <img class="img-fluid" src="assets/images/nick.png">
                  <div class="hover-overlay"></div>
                  <div class="hover-1-content px-5 py-4">
                    <h3 class="hover-1-title text-uppercase font-weight-bold mb-0">
                      <nb-icon class="maior" icon="edit-outline"></nb-icon>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-9 d-flex flex-wrap">
                <div class="col-8 form-group">
                  <label for="nome" class="label">Nome</label>
                  <input type="text" nbInput fullWidth id="nome" placeholder="Nome">
                </div>
                <div class="col-4 form-group">
                  <label for="telefone" class="label">Telefone</label>
                  <input type="text" nbInput fullWidth id="telefone" placeholder="(00) 0 0000-0000" mask="(00) 0 0000-0000">
                </div>
                <div class="col-8 form-group">
                  <label for="email" class="label">E-mail</label>
                  <input type="text" nbInput fullWidth id="email" placeholder="E-mail">
                </div>
                <div class="col-4 form-group">
                  <label for="dt_nascimento" class="label">Data de nascimento</label>
                  <input nbInput fullWidth id="dt_nascimento" placeholder="Data de nascimento" [nbDatepicker]="formpicker">
                  <nb-datepicker format="dd/MM/yyyy" #formpicker></nb-datepicker>
                </div>
                <div class="col-4 form-group">
                  <label for="CPF" class="label">CPF</label>
                  <input type="text" nbInput fullWidth id="CPF" placeholder="CPF" mask="000.000.000-00">
                </div>
                <div class="col-4 form-group">
                  <label for="RG" class="label">RG</label>
                  <input type="text" nbInput fullWidth id="RG" placeholder="RG" mask="000.000.000">
                </div>
                <div class="col-4 form-group">
                  <label for="Sexo" class="label">Sexo</label>
                  <nb-select fullWidth selected="">
                    <nb-option value="">Selecione</nb-option>
                    <nb-option value="Feminino">Feminino</nb-option>
                    <nb-option value="Masculino">Masculino</nb-option>
                    <nb-option value="Outro">Outro</nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <hr>
                <h4>Institucionais</h4>
              </div>
              <div class="col-3 form-group">
                <label for="lotacao" class="label">Unidade de lotação</label>
                <input type="text" nbInput fullWidth id="lotacao" placeholder="Unidade de lotação">
              </div>
              <div class="col-3 form-group">
                <label for="cargo" class="label">Cargo</label>
                <input type="text" nbInput fullWidth id="cargo" placeholder="Cargo">
              </div>
              <div class="col-6 form-group">
                <label for="funcao" class="label">Função</label>
                <input type="text" nbInput fullWidth id="funcao" placeholder="Função">
              </div>
              <div class="col-12 d-flex justify-content-end">              
                <button type="submit" nbButton status="primary">Salvar</button>
              </div>
            </div>
          </form>
        </nb-tab>
        <nb-tab tabTitle="Acadêmicos">
          <div class="row">
            <div class="col-12 d-flex justify-content-between mb-2">
              <h4>Graduação</h4>
              <button (click)="openCadastrarGraduacao()" nbButton status="primary"><nb-icon class="primary color-white" icon="plus-outline"></nb-icon></button>
            </div>
            <div class="col-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Graduação</th>
                    <th scope="col">Instituição</th>
                    <th scope="col">Conclusão</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row d-flex">
                      <a href="">
                        <nb-icon class="primary" icon="edit-outline"></nb-icon>
                      </a>
                      <a href="">
                        <nb-icon class="primary" icon="trash-outline"></nb-icon>
                      </a>
                    </th>
                    <td>Ciências e tecnologia</td>
                    <td>UFRN</td>
                    <td>12/03/2021</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <a href="">
                        <nb-icon class="primary" icon="edit-outline"></nb-icon>
                      </a>
                      <a href="">
                        <nb-icon class="primary" icon="trash-outline"></nb-icon>
                      </a>
                    </th>
                    <td>TI</td>
                    <td>UFRN</td>
                    <td>12/03/2021</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <a href="">
                        <nb-icon class="primary" icon="edit-outline"></nb-icon>
                      </a>
                      <a href="">
                        <nb-icon class="primary" icon="trash-outline"></nb-icon>
                      </a>
                    </th>
                    <td>Eng da computação</td>
                    <td>UFRN</td>
                    <td>12/03/2021</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr>
          <div class="row mt-5">
            <div class="col-12 d-flex justify-content-between mb-2">
              <h4>Pós-Graduação</h4>
              <button (click)="openPosCadastrarGraduacao()" nbButton status="primary"><nb-icon class="primary color-white" icon="plus-outline"></nb-icon></button>
            </div>
            <div class="col-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pós-Graduação</th>
                    <th scope="col">Instituição</th>
                    <th scope="col">Conclusão</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row d-flex">
                      <a href="">
                        <nb-icon class="primary" icon="edit-outline"></nb-icon>
                      </a>
                      <a href="">
                        <nb-icon class="primary" icon="trash-outline"></nb-icon>
                      </a>
                    </th>
                    <td>Mestrado - Ciências e tecnologia</td>
                    <td>UFRN</td>
                    <td>12/03/2021</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <a href="">
                        <nb-icon class="primary" icon="edit-outline"></nb-icon>
                      </a>
                      <a href="">
                        <nb-icon class="primary" icon="trash-outline"></nb-icon>
                      </a>
                    </th>
                    <td>Doutorado - TI</td>
                    <td>UFRN</td>
                    <td>12/03/2021</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <a href="">
                        <nb-icon class="primary" icon="edit-outline"></nb-icon>
                      </a>
                      <a href="">
                        <nb-icon class="primary" icon="trash-outline"></nb-icon>
                      </a>
                    </th>
                    <td>MBA - Administração</td>
                    <td>UFRN</td>
                    <td>12/03/2021</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Área(s) de Interesse">
          <div class="row">
            <div class="col-12 d-flex flex-wrap">
              <h4>Selecione suas área(s) de interesse:</h4>
            </div>
            <div class="col-12 d-flex flex-wrap">
              <div class="col-4 demo-items" *ngFor="let area of areas">
                <nb-checkbox [value]="area">{{ area }}</nb-checkbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="outras_areas" class="label">Outras</label>
              <textarea rows="5" nbInput fullWidth placeholder="Digite aqui outras áreas de interesse"></textarea>
            </div>
            <div class="col-12 d-flex justify-content-end">              
              <button type="submit" nbButton status="primary">Salvar</button>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Experiência(s) Profissional(ais)">
          <div class="row">
            <div class="col-12 d-flex justify-content-between mb-2">
              <h4>Experiência</h4>
              <button (click)="openCadastrarExperiencia()" nbButton status="primary"><nb-icon class="primary color-white" icon="plus-outline"></nb-icon></button>
            </div>
            <div class="col-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Área de atuação</th>
                    <th scope="col">Nome da Atividade</th>
                    <th scope="col">Instituição</th>
                    <th scope="col">Conclusão</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row d-flex">
                      <a href="">
                        <nb-icon class="primary" icon="edit-outline"></nb-icon>
                      </a>
                      <a href="">
                        <nb-icon class="primary" icon="trash-outline"></nb-icon>
                      </a>
                    </th>
                    <td>Direito administrativo</td>
                    <td>Diretor</td>
                    <td>TRF5</td>
                    <td>12/03/2021</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <a href="">
                        <nb-icon class="primary" icon="edit-outline"></nb-icon>
                      </a>
                      <a href="">
                        <nb-icon class="primary" icon="trash-outline"></nb-icon>
                      </a>
                    </th>
                    <td>TI</td>
                    <td>Voluntariado</td>
                    <td>UFRN</td>
                    <td>12/03/2021</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <a href="">
                        <nb-icon class="primary" icon="edit-outline"></nb-icon>
                      </a>
                      <a href="">
                        <nb-icon class="primary" icon="trash-outline"></nb-icon>
                      </a>
                    </th>
                    <td>Eng da computação</td>
                    <td>Secretário</td>
                    <td>UFRN</td>
                    <td>12/03/2021</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>